Source: fusell-seed
Section: admin
Priority: optional
Homepage: https://github.com/noahdesu/fusell-seed
Vcs-Git: git://github.com/noahdesu/fusell-seed.git
Vcs-Browser: https://github.com/noahdesu/fusell-seed
Maintainer: Noah Watkins <noahwatkins@gmail.com>
Build-Depends: cmake,
  pkg-config,
  libfuse-dev
Standards-Version: 3.9.3
